---
import Base from "../layouts/Base.astro";
---

<Base title="About" description="About me">
  <h1>About</h1>
  <p>
    Write a short bio here. Mention your interests, what you do, and where to find you.
  </p>
</Base>


